# leaderboard-system/mysql-shard-1/my.cnf
[mysqld]
server-id=101 # Unique server ID for this shard
# You might want to enable binlog for shard replication if you plan to shard a shard
# log_bin=shard1-bin
# max_connections=500 # Example
# innodb_buffer_pool_size=1G # Example