# leaderboard-system/mysql-slave/my.cnf
[mysqld]
server-id=2
read_only=ON # Important for a dedicated slave to prevent accidental writes
# If using GTID: gtid_mode=ON, enforce_gtid_consistency=ON
# max_connections=500 # Example
# innodb_buffer_pool_size=1G # Example